// Content section utilities too control common vertical container padding and other attributes

.content-section {
	position: relative;
	-webkit-transform: translateZ(0);
	padding: 80rem 0;
	@include media(max, map-get($breakpoints, laptop)) {
		padding: 40rem 0;
		}

	// Remove padding options
	&.\--no-padding {
		padding: 0 !important;
		}

	&.\--no-top-padding {
		padding-top: 0 !important;
		}

	&.\--no-bottom-padding {
		padding-bottom: 0 !important;
		}

	// Padding theme controls
	&.\--section-padding-1, %section-padding-1 {
		padding: $section-padding-1 0; // 10px 0
		}

	&.\--section-padding-2, %section-padding-2 {
		padding: $section-padding-2 0; // 20px 0
		}

	&.\--section-padding-3, %section-padding-3 {
		padding: $section-padding-3 0; // 40px 0

		@include media(min, map-get($breakpoints, desktop-huge)) {
			padding: 6rem 0;
			}

		}

	&.\--section-padding-4, %section-padding-4 {
		padding: $section-padding-4 0; // 60px 0

		@include media(min, map-get($breakpoints, desktop-huge)) {
			padding: 8rem 0;
			}

		@include media(max, map-get($breakpoints, laptop)) {
			padding: 4rem 0;
			}

		}

	&.\--section-padding-5, %section-padding-5 {
		padding: $section-padding-5 0; // 70px 0

		@include media(min, map-get($breakpoints, desktop-huge)) {
			padding: 11rem 0;
			}

		@include media(max, map-get($breakpoints, laptop)) {
			padding: 6rem 0;
			}

		}

	&.\--section-padding-6, %section-padding-6 {
		padding: $section-padding-6 0; // 100px 0

		@include media(min, map-get($breakpoints, desktop-huge)) {
			padding: 14rem 0;
			}

		@include media(max, map-get($breakpoints, laptop)) {
			padding: 8rem 0;
			}
		}

	&.\--section-padding-7, %section-padding-7 {
		padding: $section-padding-7 0; // 120px 0

		@include media(min, map-get($breakpoints, desktop-huge)) {
			padding: 18rem 0;
			}

		@include media(max, map-get($breakpoints, laptop)) {
			padding: 9rem 0;
			}
		}

	&.\--section-padding-8, %section-padding-8  {
		padding: $section-padding-8 0; // 160px 0

		@include media(min, map-get($breakpoints, desktop-huge)) {
			padding: 20rem 0;
			}

		@include media(max, map-get($breakpoints, laptop)) {
			padding: 10rem 0;
			}
		}

	}
