table {
    width: 100%;
    background-color: #fff;
    margin: rem(20px) 0;

    &:first-child { margin-top: 0;}

    &:last-child { margin-bottom: 0; }

    &[align="left"] { text-align: left; }

    &[align="center"] { text-align: center; }

    &[align="right"] { text-align: right; }

    .align-left { text-align: left; }

    .align-center { text-align: center; }

    .align-right { text-align: right; }

    p { margin-bottom: 0; }


    // Common Icons in tables
    .icon-check {
        color: map-get($colors, green);
        margin-right: rem(10px);
        }

    .icon-close {
        color: map-get($colors, alt-font-color);
        font-size: 0.8em;
        margin-right: rem(10px);
        }

    // Table themming options
    &.no-stripeing {

        tr:nth-child(odd) td, tr:nth-child(odd) th { background-color: $white; }

        }

    &.top-borders {

        tbody tr, tfoot tr { border-top: rem(1px) solid map-get($colors, border-grey-3);   }

        }

    }


tbody {
    width: 100%;

    // Zebra stripeing by default
    tr:nth-child(odd) td, tr:nth-child(odd) th { background-color: map-get($colors, bg-grey-1); }

    th {
        padding: rem(20px) rem(10px);
        vertical-align: middle;
        }

    td {
        padding: rem(20px) rem(10px);
        vertical-align: middle;
        }

    }

tfoot {
    width: 100%;

    td {
        padding: rem(20px) rem(10px);
        }

    }

thead {
    text-align: left;
    width: 100%;

    th {
        font-weight: $bold;
        padding: rem(20px) rem(10px);
        }

    }

.overflow-container {

    // laptop and down / device breakpoint styling
	@include media(max, map-get($breakpoints, laptop)) {
		overflow-x: scroll;
		overflow-y: visible;
		-webkit-overflow-scrolling: touch; // smooth ios scrolling
		}

    }
