//* Additional Partial - New Global Typagraphy */


.content-section { // NOTE: Temporarily scoped to .content-section for sanitation to other typography styles

    a:not([class]) {
    	color: color('brand-blue-1');
    	@include transitions-all;

    	&:hover {
            color: color('brand-orange-1');
            text-decoration: none;
            }

    	}

    em { font-style: italic; }

    hr {
    	display: block;
    	width: 100%;
    	height: .1rem;
    	margin: 4rem 0;
    	padding: 0;
    	border: 0;
    	background-color: map-get($colors, border-grey-3);
    	}


    //////// Headers ////////


    %header-element {
    	font-weight: $normal;
    	margin-bottom: map-get($content-margins, heading-typography-margins);

        &.accent-header {
            font-weight: $normal;
            text-transform: uppercase;
            margin: .8rem 0;
            color: lighten(color(dark-gray), 20%);
            font-size: $small-font-size;
            }

    	}

    %h1, .h1, h1 {
    	@extend %header-element;
    	font-size: 7.2rem;
    	line-height: 1.2;

        &.light { font-weight: $light; }

        &.small {
            font-size: 4.6rem;
            margin-bottom: map-get($content-margins, tiny-typography-margins);
            }

    	}

    %h2, .h2, h2 {
    	@extend %header-element;
    	font-size: 4rem;
    	line-height: 1.24;

        &.light { font-weight: $light; }

    	}

    %h3, .h3, h3 {
    	@extend %header-element;
    	font-size: 2.8rem;
    	line-height: 1.4;

        &.light { font-weight: $light; }

    	}

    %h4, .h4, h4 {
    	@extend %header-element;
    	font-size: 1.9rem;
    	line-height: 1.45;

        &.light { font-weight: $light; }

    	}

    %h5, .h5, h5 {
    	@extend %header-element;
    	font-size: 1.8rem;
    	line-height: 1.45;
    	margin-bottom: 2rem;
        font-weight: $normal;
    	}

    %h6, .h6, h6 {
    	@extend %header-element;
    	font-size: 1.6rem;
    	line-height: 1.5;
        font-weight: $semi-bold;

        &.light { font-weight: $light; }

    	}

    i:not([class]) { font-style: italic; }

    small { font-size: .8em; }

    strong { font-weight: $bold; }

    p { margin-bottom: map-get($content-margins, base-typography-margins); }


    //////// Lists ////////

    ol:not([class]), ul:not([class]) {
    	padding-left: map-get($content-margins, base-typography-margins);

    	margin-bottom: map-get($content-margins, base-typography-margins);
    	list-style-position: outside;

    	&:last-child { margin-bottom: 0; }

    	li {
    		margin-bottom: map-get($content-margins, small-typography-margins);

    		&:last-child { margin-bottom: 0; }

    		}

    	}

    ol:not([class]) {

        li { list-style-type: decimal; }

    	}

    ul:not([class]) {
    	list-style-type: none;

    	li {
    		position: relative;
    		padding-left: .5rem;

    		&:before {
    			content: "";
    			display: block;
    			position: absolute;
    			top: 0.6em;
    			left: -0.6em;
    			width: .6rem;
    			height: .6rem;
    			@include border-radius(100%);
    			background-color: map-get($colors, base-font-color);
    			}

    		}

    	}


    } // /end .content-section selector
