// - - - - - - - - - - - - - - - - - - -
// - - animations module
// styles for the animations module

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes intelligence-icon {
  0% {
    background: #009ACB;
  }

  25% {
    background-color: #f56026;
  }

  50% {
    background-color: #f56026;
  }

  100% {
    background: #009ACB;
  }
}

@keyframes intelligence-icon-active {
  0% {
    background: #009ACB;
  }

  25% {
    background-color: #f56026;
  }

  50% {
    background-color: #f56026;
  }

  100% {
    background: #f56026;
  }
}

@keyframes slide-up {
  from { transform: translate3d(0, 100%, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes slide-in {
  from { transform: translate3d(100%, 0, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes slide-out {
  from { transform: translate3d(-100%, 0, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes intelligence-outside-hero-animation {
  from { @include hero-image-helper('../img/product/intelligence-outside/latitude.jpg', 192.1rem, 108rem); }
  to { @include hero-image-helper('../img/product/intelligence-outside/cloud-cover.jpg', 192.1rem, 108rem); }
}

@keyframes intelligence-inside-hero-animation {
  from {
    @include hero-image-helper('../img/product/intelligence-inside/glare-1.jpg', 220rem, 130.2rem);
    &:after {
      @include hero-image-helper('../img/product/intelligence-inside/glare-1.jpg', 220rem, 130.2rem);
    }
  }
  to {
    @include hero-image-helper('../img/product/intelligence-inside/glare-2.jpg', 220rem, 130.2rem);
    &:after {
      @include hero-image-helper('../img/product/intelligence-inside/glare-2.jpg', 220rem, 130.2rem);
    }
  }
}
