// - - - - - - - - - - - - - - - - - - -
// - - carousels module
// styles for the carousels module

// - - - - - - - - - - - - - - - - - - -
// - - slick overwrite

.slick-slide {
  height: inherit;
  &.slick-cloned {
    height: 0;
  }
}

.slick-slider {
  margin-bottom: 0rem;
}

// - -  dots
.slick-dots {
  opacity: 0.6;
  position: absolute;
  bottom: 0;

  li {
    margin: 0 0.25rem;

    button {
      background: $slick-dot-color;
      border: 0.3rem solid $slick-dot-color;
      border-radius: 50%;
      font-size: 0;
      line-height: 0;
      margin: 0 auto;
      outline: none;
      padding: 0;
      height: $slick-dot-size;
      width: $slick-dot-size;
      &:before {
        display: none;
      }
    }

    &.slick-active button {
      background: $slick-dot-color-active;
      border: 0.3rem solid #fff;
    }
  }
}

.carousel-wrapper {
  @include clearfix;
  overflow: hidden;
}

// - - fades carousel in after js has initialized
// carousel-light
// carousel-dark
@mixin carousel-container {
  opacity: 0;
  &.slick-initialized {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel base styles
// carousel-light
// carousel-dark
// carousel-portfolio
// carousel-portfolio-detail
@mixin carousel-base {
  .slick-list {
    &:after {
      position: absolute;
      left: 50%;
      bottom: 0;
      border: solid transparent;
      border-bottom-color: color('dark-blue');
      border-width: 1.5rem;
      content: " ";
      height: 0;
      margin-left: -1.5rem;
      width: 0;
      @include breakpoint(bp('tablet')){
        display: none;
      }
    }
  }

  .slick-prev,
  .slick-next {
    top: 0;
    bottom: 0;
    height: 100%;
    margin-top: 0;
    width: 15%;
    z-index: 1;
	&:before {
		font-family: 'FontAwesome';
      display: block;
      height: 2.4rem;
    }

    @include attention() {
      /*background: color('orange');*/
      &:after {
        /*border-bottom-color: color('orange');*/
      }
      &:before {
        opacity: 1;
      }
    }
  }

  .slick-prev {
    left: 0;

    &:after {
      /*left: 100%;
      border-right-width: 0;
      margin-left: -1.5rem;
      width: 0;*/
    }
  }

  .slick-next {
    right: 0;

    &:after {
      right: 100%;
      border-left-width: 0;
      margin-right: -1.5rem;
    }
  }

  .carousel-controls {
    position: relative;
    overflow: hidden;
    top: -0.1rem;
    background: color('dark-blue');

    @include breakpoint(bp('tablet')){
      float: right;
      height: 4rem;
      padding-left: 4rem;
      margin-top: 0;
      transition: all 0.3s ease-in-out;
      width: 48rem;
      &:after {
        display: none;
      }
    }
  }

  .js-carousel-hero {
	  min-height: 45rem;
  }

  .js-carousel-heading-container {
	  position: absolute;
	  width: 100%;
	  top: calc(80px);
	  height: calc(100% - 80px);

	  @include breakpoint(bp('desktop')){
		  top: calc(80px + 1.3rem);
		  height: calc(100% - 80px - 1.3rem);
	  }

	  .js-carousel-heading {
		  position: absolute;
		  top: 50%;
		  left: 5%;
		  @include transform(translateY(-50%));
		  width: 90%;
		  text-align: left;

		  @include breakpoint(bp('tablet')){
			  left: auto;
			  width: 63rem;
			  margin-left: 7rem;
		  }

		  @include breakpoint(bp('desktop')){
			  width: 70rem;
			  margin-left: 16rem;
		  }

		  h1,h2 {
			  color: white;
			  text-shadow: 0 .2rem .4rem rgba(0,0,0,0.50);
		  }

		  h1 {
			  @include font-rules('light');
			  line-height: 1;
			  font-size: 3rem;
			  margin-bottom: 1rem;

			  @include breakpoint(bp('tablet')){
				  font-size: 5rem;
			  }

			  @include breakpoint(bp('desktop')){
				  @include font-rules('light');
				  font-size: 7.2rem;
				  margin-bottom: 1.3rem;
			  }
		  }

		  h2 {
			  @include breakpoint(bp('tablet')) {
				  @include font-rules('book');
				  font-size: 2rem;
			  }
		  }

		  .button:not(:first-child) {
			  margin-top: 2rem;
		  }
	  }
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-main-arrows
// carousel light
// carousel dark
@mixin carousel-main-arrows {
	.slick-prev,
	.slick-next {
		top: 50%;
		transform: translateY(-50%);
		height: 45px;
		text-align: center;

		&::before {
			font-size: 34pt;
		}

		@include breakpoint(bp('tablet')){
			width: 5rem;
			height: 2rem;

			&::before {
				font-size: 72pt;
			}

			&:hover::before {
				color: #34657f;
			}
		}


		@include breakpoint(bp('desktop')) {
			width: 10rem;
			height: 11rem;

			&::before {
				font-size: 144pt;
			}
		}
	}

	.slick-prev {
		@include breakpoint(bp('tablet')){
			padding-left: 2rem;
		}

		@include breakpoint(bp('desktop')){
			padding-left: 3rem;
		}
	}

	.slick-next {
		@include breakpoint(bp('tablet')){
			padding-right: 2rem;
		}

		@include breakpoint(bp('desktop')){
			padding-right: 3rem;
		}
	}
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-dark
.carousel-dark {
  @include carousel-container;
  @include carousel-base;
  @include carousel-main-arrows;
  .slick-prev,
  .slick-next {
    @include breakpoint(bp('tablet')){
      background: color('dark-blue');
    }
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-light
.carousel-light {
  @include carousel-container;
  @include carousel-base;
  @include carousel-main-arrows;
  .slick-prev,
  .slick-next {
    @include breakpoint(bp('tablet')){
      opacity: 0.6;
      @include attention() {
        opacity: 1;
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-alternate
@mixin carousel-alternate-base {
  /*overflow: hidden;*/
  padding: 3rem 0;
  position: relative;

  .slick-slider {
    margin-bottom: 0;
  }

  .carousel-alternate-slide {
    @include breakpoint(bp('tablet')){
      margin-right: 1.5rem;
    }
  }

  // - -  arrows
  .slick-prev,
  .slick-next {
    top: 50%;
    border-radius: 50%;
    height: 10rem;
    margin-top: 0;
    transform: translateY(-50%);
    width: 10rem;

    &:before {
      display: block;
      height: 2.4rem;
    }

    &:after {
      position: absolute;
      top: -3rem;
      border: none;
      border-width: 1.5rem;
      content: " ";
      height: 0;
      width: 0;
    }

    @include attention() {
      background: color('dark-blue');
      &:after {
        border-bottom-color: color('dark-blue');
      }
      &:before {
        opacity: 1;
      }
    }
  }

  .slick-prev {
    left: 0;
    /*margin-left: -10rem;*/
    text-align: center;
    padding-left: 35px;

    &:after {
      left: 100%;
      border-right-width: 0;
      margin-left: -1.5rem;
      width: 0;
    }

    @include attention() {
      &:before {
        content: url('../img/svg/left-arrow-white.svg');
      }
    }
  }

  .slick-next {
    right: 0;
    /*margin-right: -10rem;*/
    padding-right: 35px;
    text-align: center;

    &:after {
      right: 100%;
      border-left-width: 0;
      margin-right: -1.5rem;
    }

    @include attention() {
      &:before {
        content: url('../img/svg/right-arrow-white.svg');
      }
    }
  }
}

.carousel-alternate-dark {
  @include carousel-alternate-base;
  .slick-prev,
  .slick-next {
    background: color('dark-blue');
    &:after {
      border-bottom-color: color('dark-blue');
    }
  }

  .slick-prev {
    &:before {
      content: url('../img/svg/left-arrow-white.svg');
    }
  }

  .slick-next {
    &:before {
      content: url('../img/svg/right-arrow-white.svg');
    }
  }
}

.carousel-alternate-light {
  @include carousel-alternate-base;
  .slick-prev,
  .slick-next {
    background: white;
    opacity: 0.6;
    @include attention() {
      opacity: 1;
    }
  }

  .slick-prev {
    &:before {
      content: url('../img/svg/left-arrow-blue.svg');
    }
    @include attention() {
      &:before {
        content: url('../img/svg/left-arrow-white.svg');
      }
    }
  }

  .slick-next {
    &:before {
      content: url('../img/svg/right-arrow-blue.svg');
    }
    @include attention() {
      &:before {
        content: url('../img/svg/right-arrow-white.svg');
      }
    }
  }
}

.carousel-alternate-loaded {
  @include carousel-container;
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-product
.carousel-product {
  @include breakpoint(bp('tablet')){
    &.slick-slider {
      margin-bottom: 0;
    }
    .carousel-product--controls {
      height: 0;
    }
    .slick-dots {
      top: -4.5rem;
    }
  }
}

.carousel-intelligence {
  &.slick-slider {
    margin-bottom: 0;
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-portfolio
.carousel-portfolio {
  @include carousel-container;
  @include carousel-base;
  .slick-dots {
    @include breakpoint(bp('tablet')){
      top: 0;
      margin-top: 0.5rem;
      text-align: left;
    }
  }

  // - -  arrows
  .slick-prev,
  .slick-next {
    @include breakpoint(bp('tablet')){
      position: static;
      float: left;
      background: rgba(141, 192, 209, 0.4);
      height: 4rem;
      width: 4rem;

      &:after {
        border: none;
      }
    }
  }

  .slick-prev {
    @include breakpoint(bp('tablet')){
      margin-right: 0.1rem;
      text-align: center;
      padding-left: 0;
    }
  }

  .slick-next {
    @include breakpoint(bp('tablet')){
      padding-right: 0;
      text-align: center;
    }
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-controls-clear
// - - controls with no background color
.carousel-controls-clear {
  .slick-list:after {
    display: none;
  }

  .carousel-controls {
    background: transparent;
  }
}

// - - - - - - - - - - - - - - - - - - -
// - - carousel-controls-light-blue
// - - controls with light blue background
.carousel-controls-light-blue {
  .slick-list:after {
    border-bottom-color: color('light-blue');
  }

  .carousel-controls {
    background: color('light-blue');
  }
}

.carousel-dark-arrows {
  .slick-prev {
    &:before {
      content: url('../img/svg/left-arrow-blue.svg');
    }
  }

  .slick-next {
    &:before {
      content: url('../img/svg/right-arrow-blue.svg');
    }
  }
}

.carousel-dark-text {
  .carousel-mobile-heading {
    color: color('dark-blue');
  }
}

.carousel-mobile-container {
  position: relative;
  left: 15%;
  height: 100%;
  padding: 3rem 1.5rem;
  text-align: center;
  width: 70%;

  @include breakpoint(bp('tablet')){
    display: none;
  }
}

.carousel-mobile-heading {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.carousel-product-mobile-heading {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1rem;
  padding-bottom: 0.4rem;
}

.carousel-product-mobile-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem;
  line-height: 1.4rem;
  padding-bottom: 0.4rem;
}

.carousel-event-timeline {
  background: color('light-blue');
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.25rem;
}

.carousel-company-event-card {
  position: relative;
  border: 1px solid #e1e1e1;
  border-radius: 0.6rem;
  background: #fff;
  display: block;
  height: 100%;
  z-index: 2;
}

.carousel-company-event-top {
  height: 20.3rem;
}

.carousel-company-event-bottom {
  height: 20.3rem;
  margin-top: 30rem;
}

.carousel-event-thumbnail {
  border-bottom-left-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  height: 100%;
}

.carousel-event-timeline-icon-top {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -0.3rem;
  background: url('../img/events/event-timeline-top.png') left bottom no-repeat;
  height: 7.2rem;
  width: 3.8rem;
  z-index: 1;
}

.carousel-event-timeline-icon-bottom {
  position: absolute;
  top: -50%;
  left: 50%;
  margin-top: 3rem;
  background: url('../img/events/event-timeline-bottom.png') left top no-repeat;
  height: 7.2rem;
  width: 3.8rem;
  z-index: 1;
}

.js-carousel-dots--desktop{

}

// - - - - - - - - - - - - - - - - - - -
// - - documentation

//  ddddddddddddd
//  d::::::::::::ddd
//  d:::::::::::::::dd
//  ddd:::::ddddd:::::d
//    d:::::d    d:::::d
//    d:::::d     d:::::d
//    d:::::d     d:::::d
//    d:::::d     d:::::d
//    d:::::d     d:::::d
//    d:::::d     d:::::d
//    d:::::d     d:::::d
//    d:::::d    d:::::d
//  ddd:::::ddddd:::::d
//  d:::::::::::::::dd
//  d::::::::::::ddd
//  ddddddddddddd

/*doc
---
title: carousel-light
name: 01/carousel-light
category: carousels
---
```html_example
<section>
  <div class="carousel-wrapper">
    <div class="js-carousel carousel-light">
      <div class="js-carousel-slide">
        <div class="hero-home-girl"></div>

        <!-- hidden container for mobile heading -->
        <div class="u-hide-all">
          <div class="js-carousel-mobile-heading carousel-mobile-container">
            <h2 class="carousel-mobile-heading">Mobile Heading One</h2>
          </div>
        </div>
      </div>

      <div class="js-carousel-slide">
        <div class="hero-home-intelligence"></div>

        <!-- hidden container for mobile heading -->
        <div class="u-hide-all">
          <div class="js-carousel-mobile-heading carousel-mobile-container">
            <h2 class="carousel-mobile-heading">Mobile Heading Two</h2>
          </div>
        </div>
      </div>

      <div class="js-carousel-controls u-hide-desktop carousel-controls">
        <div class="js-carousel-arrows"></div>
      </div>

      <div class="js-carousel-dots"></div>

      <div class="u-hide-mobile">
        <div class="js-carousel-arrows--desktop"></div>
        <div class="js-carousel-dots--desktop"></div>
      </div>
    </div>
  </div>
</section>
```
*/

/*doc
---
title: carousel-dark
name: 02/carousel-dark
category: carousels
---
```html_example
<section>
  <div class="carousel-wrapper">
    <div class="js-carousel carousel-dark">
      <div class="js-carousel-slide">
        <div class="hero-home-girl"></div>

        <!-- hidden container for mobile heading -->
        <div class="u-hide-all">
          <div class="js-carousel-mobile-heading carousel-mobile-container">
            <h2 class="carousel-mobile-heading">Mobile Heading One</h2>
          </div>
        </div>
      </div>

      <div class="js-carousel-slide">
        <div class="hero-home-intelligence"></div>

        <!-- hidden container for mobile heading -->
        <div class="u-hide-all">
          <div class="js-carousel-mobile-heading carousel-mobile-container">
            <h2 class="carousel-mobile-heading">Mobile Heading Two</h2>
          </div>
        </div>
      </div>

      <div class="js-carousel-controls u-hide-desktop carousel-controls">
        <div class="js-carousel-arrows"></div>
      </div>

      <div class="js-carousel-dots"></div>

      <div class="u-hide-mobile">
        <div class="js-carousel-arrows--desktop"></div>
        <div class="js-carousel-dots--desktop"></div>
      </div>
    </div>
  </div>
</section>
```
*/

/*doc
---
title: carousel-alt-light
name: 03/carousel-alt-light
category: carousels
---
```html_example
<div class="js-carousel-alternate-arrows carousel-alternate carousel-alternate-light">
  <div class="grid-container">
    <div class="grid-shift">
      <div class="u-center-text carousel-wrapper">
        <div class="js-carousel-alternate carousel-alternate-loaded">
          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-girl"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-intelligence"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-girl"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-intelligence"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-girl"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-intelligence"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/

/*doc
---
title: carousel-alt-dark
name: 04/carousel-alt-dark
category: carousels
---
```html_example
<div class="js-carousel-alternate-arrows carousel-alternate carousel-alternate-dark">
  <div class="grid-container">
    <div class="grid-shift">
      <div class="u-center-text carousel-wrapper">
        <div class="js-carousel-alternate carousel-alternate-loaded">
          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-girl"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-intelligence"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-girl"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-intelligence"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-girl"></div>
          </div>

          <div class="js-carousel-slide carousel-alternate-slide">
            <div class="hero-home-intelligence"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/
