// Pardot templates View Glass - Content Sections


// Primary content container
.primary-content-container {
    max-width: map-get($columns, span-12-columns);
    padding: 0 $site-gutter;
    margin: 0 auto;
    }
