
// Variables > Typography
$ultra-light: 	100;
$light: 		300;
$normal: 		400;
$semi-bold: 	600;
$bold: 			700;
$ultra-bold:	900;

// Common font sizing
$smallest-font-size: 	0.8125rem; 	// =   13px
$tiny-font-size: 		0.875rem; 	// =   14px
$small-font-size: 		0.9375rem; 	// =   15px
$base-font-size: 		1.063rem; 	// =   17px
$secondary-font-size: 	1.25rem; 	// =   20px
$large-font-size: 		1.375rem; 	// =   22px
$larger-font-size: 		1.625rem; 	// =   26px

$letter-spacing-1:		-.02em;
$letter-spacing-2:		.02em;
$letter-spacing-3:		.03em;
$letter-spacing-4:		.06em;
$letter-spacing-5:		.085em;

$typography: (
	base-font-size: 		1.5rem,
	secondary-font-size: 	2rem,
	base-line-height: 		1.8,
	secondary-line-height: 	2,
	condensed-line-height: 	1.5,
	base-margins-type: 		1em,
	roboto: 				('Roboto', sans-serif),
	muli: 					('Muli', sans-serif)
);

$content-margins: (
	heading-typography-margins: 			.8em,
	editorial-heading-typography-margins:	.4em,
	tiny-typography-margins: 				.4em,
	small-typography-margins: 				.8em,
	medium-typography-margins: 				1.1em,
	base-typography-margins: 				1.5em,
	large-typography-margins:				2em
);

// Common colors

$narrow-width: 				60rem;		// =   960px

// Site gutters
$site-gutter-xlarge:		18.0rem;	// =   180px
$site-gutter-large:			12.0rem;	// =   120px
$site-gutter-medium:		8rem;		// =   80px
$site-gutter-small:			4rem;		// =   40px
$site-gutter-xsmall:		1rem;		// =   10px

$site-gutter:				3rem;	// =   30px
$site-gutter-tablet:		2rem;	// =   20px
$site-gutter-device:		1.5rem;	// =   15px


// off-stage-navigation-panel widths
$nav-panel-width: 			84%;
$nav-panel-offset: 			16%;

// Section padding
$section-padding:			8rem; 		// =   80px
$section-padding-device:	4rem; 		// =   40px

$section-padding-10:		28rem;		// =   280px
$section-padding-9:			22rem;		// =   220px
$section-padding-8:			16rem;		// =   160px
$section-padding-7:			12rem;		// =   120px
$section-padding-6:			10rem;		// =   100px
$section-padding-5:			7rem;		// =   70px
$section-padding-4:			6rem;		// =   60px
$section-padding-3: 		4rem;		// =   40px
$section-padding-2: 		2rem;		// =   20px
$section-padding-1:			1rem;		// =   10px

$containers: (
	content-width-massive:	260rem,		// =   2600px
	content-width-huge: 	220rem,		// =   2200px
	content-width-large: 	180rem,		// =   1800px
);

$columns: (
	span-16-columns: 		158rem,		// =   1580px
	span-15-columns: 		148rem,		// =   1480px
	span-14-columns: 		138rem,		// =   1380px
	span-13-columns: 		128rem,		// =   1280px
	span-12-columns: 		118rem,		// =   1180px
	span-11-columns: 		108rem,		// =   1080px
	span-10-columns: 		98rem,		// =   980px
	span-9-columns: 		88rem,		// =   880px
	span-8-columns: 		78rem,		// =   780px
	span-7-columns: 		68rem,		// =   680px
	span-6-columns: 		58rem,		// =   580px
	span-5-columns: 		48rem,		// =   480px
	span-4-columns: 		38rem,		// =   380px
	span-3-columns: 		28rem,		// =   280px
	span-2-columns: 		18rem,		// =   180px
	span-1-columns: 		8rem		// =   80px
);

$transition: (
	duration: 			0.3s,
	easeInCubic: 		cubic-bezier(0.550, 0.055, 0.675, 0.190),
	easeOutCubic: 		cubic-bezier(0.215, 0.610, 0.355, 1.000),
	easeInOutCubic: 	cubic-bezier(0.645, 0.045, 0.355, 1.000),
	easeInCirc: 		cubic-bezier(0.600, 0.040, 0.980, 0.335),
	easeOutCirc: 		cubic-bezier(0.075, 0.820, 0.165, 1.000),
	easeInOutCirc: 		cubic-bezier(0.785, 0.135, 0.150, 0.860),
	easeInExpo: 		cubic-bezier(0.950, 0.050, 0.795, 0.035),
	easeOutExpo: 		cubic-bezier(0.190, 1.000, 0.220, 1.000),
	easeInOutExpo: 		cubic-bezier(1.000, 0.000, 0.000, 1.000),
	easeInQuad: 		cubic-bezier(0.550, 0.085, 0.680, 0.530),
	easeOutQuad: 		cubic-bezier(0.250, 0.460, 0.450, 0.940),
	easeInOutQuad: 		cubic-bezier(0.455, 0.030, 0.515, 0.955),
	easeInQuart: 		cubic-bezier(0.895, 0.030, 0.685, 0.220),
	easeOutQuart: 		cubic-bezier(0.165, 0.840, 0.440, 1.000),
	easeInOutQuart: 	cubic-bezier(0.770, 0.000, 0.175, 1.000),
	easeInQuint: 		cubic-bezier(0.755, 0.050, 0.855, 0.060),
	easeOutQuint: 		cubic-bezier(0.230, 1.000, 0.320, 1.000),
	easeInOutQuint: 	cubic-bezier(0.860, 0.000, 0.070, 1.000),
	easeInSine: 		cubic-bezier(0.470, 0.000, 0.745, 0.715),
	easeOutSine: 		cubic-bezier(0.390, 0.575, 0.565, 1.000),
	easeInOutSine: 		cubic-bezier(0.445, 0.050, 0.550, 0.950),
	easeInBack: 		cubic-bezier(0.600, -0.280, 0.735, 0.045),
	easeOutBack: 		cubic-bezier(0.175, 0.885, 0.320, 1.275),
	easeInOutBack: 		cubic-bezier(0.680, -0.550, 0.265, 1.550)
);

// z-index stacking
$z-index-1:			100;
$z-index-2:			200;
$z-index-3:			300;
$z-index-4:			400;
$z-index-5:			500;
$z-index-under:		-1;
$z-index-bottom:	1;
$z-index-top:		1000;


// Variables > Effects
$global-transition-speed: 300ms;


$breakpoints: (
	mobile-small: 			32rem, 		// =   320px
	mobile-large: 			48rem, 		// =   480px
	tablet: 				68rem, 		// =   680px
	tablet-large: 			80rem, 		// =   800px
	laptop: 				96rem,		// =   960px
	laptop-large: 			104rem,		// =   1040px
	desktop-small: 			112rem,		// =   1120px
	desktop: 				120rem,		// =   1200px
	desktop-large: 			128rem,		// =   1280px
	desktop-larger: 		138rem,		// =   1380px
	desktop-largest: 		160rem,		// =   1600px
	desktop-hugeish: 		180rem,		// =   1800px
	desktop-huge: 			220rem		// =   2200px
);


// Grid Framework breakpoints + naming tokens
// Example: desktop-large-2	= 2 columns span
// desktop-huge-up 		2200px +
// desktop-largest-up 	1600px +
// desktop-largest 		1600px
// desktop-larger 		1380px
// desktop-large 		1280px
// desktop-largish		1120px
// desktop 				1040px
// laptop 				960px
// tablet 				800px
// tablet-small 		680px
// small-device 		480px
// smaller-device		320px
